@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Russo+One&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link{
    padding-top: 5px;
}
nav a{
    text-align: center;
    color: #023C40;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1
#hero-msg h4{
    text-align: center;
}
#hero-img{
    width: 100%;
}
.logo{
width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #023C40;
    margin-bottom: 90px;
}
body{
    background-color: #F5F5F5;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #81C4EE;
    font-family: "Russo One", Arial, Helvetica, sans-serif;
}
nav a:hover{
    background-color: #F5F5F5;
    color: #023C40;
}
.book, .join{
    background-color: #81C4EE;
    color: #023C40;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #023C40;
    color: #F5F5F5;
}
.msg{
    background-color: #81C4EE;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 180px;
}
.home-title{
    color: #C25847;
    text-align: center;
    font-family: "Russo One", Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    margin: 0;
}
h4{
    color: black;
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid black;
}
.msg h2{
    color: #C25847;
    font-family: "Russo One", Arial, Helvetica, sans-serif;
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color: #81C4EE;
    color: #F5F5F5;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color: #F5F5F5;
    text-decoration: none;
}
footer a:hover{
    color: #023C40;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}